.m05auto {
  margin: 0.5em auto;
}
.cardBg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 0.5em;
}
.font09 {
  font-size: 0.9em;
}
.lineThrough {
  text-decoration: line-through;
}
.padding0 {
  padding: 0 !important;
}
.lineHeight {
  line-height: 2em !important;
}
.cursorPointer {
  cursor: pointer !important;
}
.quantityLabel {
  padding-left: 1em;
  padding-right: 1em;
}
.noselectable {
  user-select: none !important;
}
